nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;

  > img {
    height: 75px;
    width: 130px;
  }

  .navItem {
    display: flex;
    align-items: center;
    gap: 2rem;
    color: rgb(60, 9, 130);
    > .pronav {
      color: $primary_color;
      font-weight: 900;
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
}
