.home {
  padding: 1rem 10rem;
  min-height: 100vh;
  background-color: $white_color1;
  > p {
    word-spacing: 2px;
  }
  section {
    padding: 3rem 0;
    &:first-of-type {
      display: flex;
      justify-content: space-between;
      > .item1 {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        background-color: $white_color;
        border-radius: 2rem;
        padding: 1rem 3rem;

        > div {
          display: flex;
          gap: 4rem;
          > div {
            p {
              font-weight: 600;
              color: $primary_color1;
              padding-bottom: 5px;
            }
            > h1 {
              font-weight: 900;
            }
          }
        }
        > button {
          width: fit-content;
          margin: 0 auto;
          background-color: $primary_color;
          font-size: 1rem;
          font-weight: 700;
          padding: 0.6rem;
          border-radius: 1.2rem;
          color: $white_color;
          border: none;
          letter-spacing: 1px;
        }
      }

      > .item2 {
        > h1 {
          color: $primary_color;
          font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
          letter-spacing: 1.5px;
          padding-bottom: 1rem;
        }
        p {
          border: 2px solid $primary_color;

          padding: 0.5rem 4rem;
          border-radius: 20px;
          font-size: 1.6rem;
          align-items: center;
          letter-spacing: 5px;
          color: $primary_color;
          font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
            "Lucida Sans", Arial, sans-serif;
        }
      }
    }

    &:last-of-type {
      padding-top: 2rem;
      > h1 {
        font-weight: 900;
        color: $primary_color;
        letter-spacing: 2px;
        padding-bottom: 2.5rem;
      }
      > div {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1rem;

        > .item {
          display: flex;
          align-items: center;
          gap: 15px;
          padding: 1rem;
          width: calc(50% - 100px);

          > svg {
            display: flex;
            align-items: center;
            justify-content: center;
            background: $gradient_color;
            padding: 10px;

            border-radius: 50px;
            font-size: 3rem;
          }
        }
      }
    }
  }
  .friend {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: $primary_color;
    font-weight: 900;
  }
}
