$primary_color: #800080;

$primary_color1: rgba(128, 0, 128, 0.926);
$white_color: #fff;
$white_color1: #f7f0f0;
$black_color: #111;
$gradient_color: linear-gradient(270deg, #800080 0%, #ff864c 100%);
